@import url(http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100);
/* Colours
   ========================================================================== */
$light: #f5f5f5;

$light-gray: #c4c4c4;
$gray: #9b9b9b;
$dark-gray: #4a4a4a;

/* post colour options */
$blue: #4A90E2;
$yellow: #F8E71C;
$orange: #F5A623;
// white

/* Fonts
   ========================================================================== */
$roboto: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;




body {
  margin: 0;
	background: $light;
	font-family: $roboto;
  font-size: 1em;
  line-height: 1.5;
  color: $gray;

  // 90% size when screen width less than 640px
  @media screen and (max-width: em(640)) {
    font-size: 0.9em;
  }
}

a {
  color: $gray;
}
