$nav-height: em(60);

header.menu-container {
  position: fixed;
  width: 100%;
  z-index: 9999999;
}

.top-menu {
  max-width: em(1180);
  margin: auto;
  padding: 0 1.5em;
  height: $nav-height;

  &::after {
    content: '';
    position: fixed;
    width: 100%;
    background: #fff;
    height: $nav-height;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.app-name {
  font-size: em(24);
  color: $gray;
  font-weight: 300;
}

.search-posts {
  display: inline-block;
  position: relative;
  margin: 0 2em 0 3em;
  line-height: $nav-height;

  &::before {
    position: absolute;
    left: 0.5em;
    top: em(7);
    content: url('../assets/icons/magnifier.svg');
    z-index: 1;
  }

  input {
    $search-width: em(200);
    border: 1px solid #ddd;
    border-radius: 2em;
    width: em(200);
    padding: 0.3em 1em 0.3em 2.4em;
    font-weight: 300;
    position: relative;
    bottom: em(1);

    @media screen and (max-width: em(360)) {
      width: $search-width - em(30);
    }
  }
}

.filter-posts {
  display: inline-block;
  padding: 0;

  li {
    display: inline-block;
    font-size: em(18);
    font-weight: 200;
    cursor: pointer;
    border: 1px solid $light;
    border-radius: 2em;
    margin: 0 0.2em;
    padding: 0 .7em;
    transition: border 0.2s, color 0.2s;

    &.active {
      border-color: $blue;
      background: $light;

      &:hover,
      &:focus {
        border-color: $blue;
        cursor: default;
      }
    }

    &:hover,
    &:focus {
      border-color: $light-gray;
    }
    &:active {
      background: $light;
    }
  }

  .clear-posts {
    border: 1px solid $orange;
    padding: 0 .5em;
    border-radius: 4px;
    margin-left: 1em;

    &:hover,
    &:focus {
      color: $orange;
      border-color: $orange;
    }
  }
}

a.side-menu-btn {
  content: url('../assets/icons/menu-bars.svg');
  float: right;
  padding: 1.2em 0;
}

/* responsive media queries */
@media screen and (max-width: em(1024)) {
  .filter-posts>.clear-posts {
    display: none;
  }
}

@media screen and (max-width: em(860)) {
  .filter-posts {
    display: none;
  }
}

@media screen and (max-width: em(640)) {
  .search-posts {
    margin: 0 1em;
  }
}

@media screen and (max-width: em(510)) {
  header .app-name {
    display: none;
  }
}
