.background-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99999;
}

.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 27%;
  min-width: em(220);
  max-width: em(400);
  background: $dark-gray;
  z-index: 999999;
}
