/* minimum side length of post */
$sideLeng: 18em;


@mixin clean {
  border: none;
  background: transparent  
}

/* temporary styles to make editing easier */
@mixin whileEditing {
  float: left; 
  margin-left: 2em;
}


ul {
  list-style: none;
}

.post {
  /*@include whileEditing;*/

  font-family: Arial;
  font-size: 75%;
  color: $light;
  background: #4455ff;
  box-shadow: 0.1em 0.15em 0.15em #555;
  position: absolute;
  width: $sideLeng;
  min-height: $sideLeng;
  padding: 0.5em 1em;
  
  input, textarea {
    @include clean;
    color: white;
    max-width: 100%;
    
    &:focus {
      outline: none;
    }
  }
  
  &:hover {
	  cursor: pointer;
  }
}

.post-title {
  font-size: 1.6em;  
  margin: 0;
  line-height: 2;
}

.post-description {
  font-size: 1.2em;
  resize: none;
}

.subtaskInput-container {    
  color: #eee;
  border-bottom: 0.15em solid #999;
  outline: none;
  background: transparent;
  position: relative;

  > input {
    font-size: 1.3em;
  }

  > button {
    position: absolute;
    right: 0;
    bottom: 0.02em;
    font-size: 1.3em;
    color: $light;
    @include clean;
  }

}

.subtasks {
  margin: 0;
  padding-left: 0.5em;
}
.subtask {
    margin: 0;
    line-height: 1;
  
  > input {
    font-size: 1.1em;
  }
}
 

