/* minimum side length of post */
$sideLeng: 21em;

@mixin clean {
  border: none;
  background: transparent  
}

/* stages for icon visbility */ 
@mixin icons1 {
	opacity: 0;
	visibility: hidden;
}

@mixin icons2 {
	opacity: 0.6;
	transition: opacity 0.2s;
	visibility: visible;
}

@mixin icons3 {
	opacity: 1;
	transition: opacity 0.1s;
}

/* retrieves placeholder color for posts */
@mixin placeholderColor($color) {
	$prefixes: '::-webkit-input', ':-moz', '::-moz', ':-ms-input';

	@each $p in $prefixes {
		#{$p}-placeholder {
			color: $color;
		}		
    } 
}

ul {
  list-style: none;
}

.post {
  font-family: Arial;
  font-size: 75%;
  color: $light;
  box-shadow: 0.1em 0.1em 0.15em #555;
  position: absolute;
  width: $sideLeng;
  min-height: $sideLeng - 2em;
  padding: 0 2em 2em 2em;
  
  input, textarea {
    @include clean;
    color: white;
    max-width: 100%;
    
    &:focus {
      outline: none;

    }
  }
  
  &:hover {
	  cursor: pointer;

	  .fa {
	  	@include icons2;
	  }

	  .post-colors {
	  	opacity: 1;
		visibility: visible;
  	  }
  }

  /* folded corner for checked posts */

  &::before {	  
	$size: 1.5em;
	$color1: #f5f5f5;
	$color2: black;

	content: "";	
	border-left: $size solid ;
	border-right: $size solid ;
	border-bottom: $size solid ;
	border-top: $size solid ;
	position: absolute;
	left: 0em;
	top: -3em;
	transition: left 0.2s, top 0.2s;
  }

  $cornerLeng: 3em;

  &::after {
	content: '';
  	width: 22em;
	height: $cornerLeng;
	top: -$cornerLeng; 
	right: 0;
	position: absolute;
	z-index: -10;
  }
}


/* create post-color classes */
$post-colors: brown $brown,
			  orange $orange,
			  blue $blue,
			  light-blue $light-blue,
			  green $green,
			  purple $purple,
			  yellow $yellow;

@each $post-color in $post-colors {
	$name: nth($post-color, 1);
	$color: nth($post-color, 2);
	/*$fadedColor: lighten($color, 20%);*/
	$fadedColor: mix($color, #fff);

	.post-#{$name} {
		background: #{$color};

		//get placeholder color
		@include placeholderColor($fadedColor);

		//same color for subtask elements
		.subtaskInput-container {
			border-color: $fadedColor;		
		}

		.subtask::before {
			border-color: $fadedColor;
		}

		.subtask.checked > input { 
		    color: $fadedColor;
		}

		&.post-checked .post-colors {
			visibility: hidden;		
		}

		//fade out text colors
		&.post-checked input, 
		&.post-checked textarea, 
		&.post-checked .subtaskInput-container > button {
			color: $fadedColor;
		} 

		//hide subtask icons
		&.post-checked .subtask .fa {
			visibility: hidden;		
		}

		&::before {
			border-color: $color;		
			//hacky way of resolving pseudo-element z-index issue
  			box-shadow: 0.4em 0.4em 0em 0.4em $color,
						0.1em 0.1em 0.15em #555;
		}

		&.post-checked::before {
			border-left-color: transparent;
			border-top-color: transparent;
		
			border-right-color: darken($color, 10%);
			border-bottom-color: darken($color, 10%);
  			box-shadow: none;
		}

		&::after {
			background: $color;		
  			box-shadow: 0 0.4em $color,
						0.1em 0.1em 0.15em #555;
		}
	}
}


.post-colors {
	position: absolute;
	display: block;
	height: 1.9em;
	background: rgba(0, 0, 0, 0.45);
	top: -2.5em;
	left: 0.8em;
	width: 1.94em;
	overflow: hidden;
	border-radius: 2em;
	opacity: 0;
	visibility: hidden;
	transition: width 0.1s linear,
				opacity 0.2s linear;

	&:hover {
		width: 16em;
		transition: width 0.15s linear;
	}
}

.post-color {
	position: relative;
	width: 1.2em;
	height: 1.2em;
	display: inline-block;
	margin: 4px 4.5px;
	border: 1px solid transparent;
	border-radius: 50%;

	&.selected {
		border-color: $light;		
	}

	&.empty {
		border: none;
		width: 0;		
		margin: 0;
	}

	&:hover {
		border-color: $light;		
	}
}

.post-buttons {
	display: block;
	font-size: 2em;
	right: 0.5em;
	top: -1.5em;
	position: absolute;

	.fa {
		color: white;
		line-height: 1;
		@include icons1;

		&:hover {
			@include icons3;
		}
	}
}

.post-title {
  font-size: 1.6em;  
  margin: 0;
  line-height: 2;
}

.post-description {
  font-size: 1.2em;
  resize: none;
}

.subtaskInput-container {    
  color: #eee;
  border-bottom: 0.15em solid;
  outline: none;
  background: transparent;
  position: relative;
  margin-bottom: 0.5em;

  > input {
    font-size: 1.3em;
  }

  > button {
    position: absolute;
    right: 0;
    bottom: 0.02em;
    font-size: 1.3em;
    line-height: 0.8;
    color: $light;
    @include clean;

	&:focus {
		outline: none;		
	}
  }

}

.subtasks {
  margin: 0;
  padding-left: 0.5em;
}

.subtask {
	margin: 0;
	font-size: 1.1em;
	line-height: 1.5;
	position: relative;

	> input {
    width: 16em;
	}

	.fa {
		@include icons1;
	}

	&:hover .fa {
		visibility: visible;
		@include icons2;

	 &:hover {
		 @include icons3;
	 }
	}

   &:before {
	 content: "";
	 position: absolute;
	 border-bottom: 1px solid;
	 width: 0%;
	 top: 0.75em;
   }

   &.checked > input {
	 transition: color 0.1s;
   }

   &.checked:before {
	 width: 75%;
	 transition: width 0.15s ease-in 0.1s;
   }
}
 
