/* minimum side length of post */
$sideLeng: 18em;

@mixin clean {
  border: none;
  background: transparent  
}

/* stages for icon visbility */ 
@mixin icons1 {
	opacity: 0;
	visibility: hidden;
}

@mixin icons2 {
	opacity: 0.6;
	transition: opacity 0.2s;
	visibility: visible;
}

@mixin icons3 {
	opacity: 1;
	transition: opacity 0.2s;
}

ul {
  list-style: none;
}

.post {
  font-family: Arial;
  font-size: 75%;
  color: $light;
  background: #4455ff;
  box-shadow: 0.1em 0.15em 0.15em #555;
  position: absolute;
  width: $sideLeng;
  min-height: $sideLeng;
  padding: 0.5em 1em;
  
  input, textarea {
    @include clean;
    color: white;
    max-width: 100%;
    
    &:focus {
      outline: none;
    }
  }
  
  &:hover {
	  cursor: pointer;

	  .fa {
	  	@include icons2;
	  }
  }
}

.post-buttons {
	display: block;
	font-size: 2em;
	right: -0.4em;
	top: -0.4em;
	position: absolute;

	.fa {
		display: block;
		color: white;
		line-height: 1;
		@include icons1;

		&:hover {
			@include icons3;
		}
	}
}


.post-title {
  font-size: 1.6em;  
  margin: 0;
  line-height: 2;
}

.post-description {
  font-size: 1.2em;
  resize: none;
}

.subtaskInput-container {    
  color: #eee;
  border-bottom: 0.15em solid #999;
  outline: none;
  background: transparent;
  position: relative;
  margin-bottom: 0.5em;

  > input {
    font-size: 1.3em;
  }

  > button {
    position: absolute;
    right: 0;
    bottom: 0.02em;
    font-size: 1.3em;
	line-height: 0.8;
    color: $light;
    @include clean;

	&:focus {
		outline: none;		
	}
  }

}

.subtasks {
  margin: 0;
  padding-left: 0.5em;
}

.subtask {
	margin: 0;
	font-size: 1.1em;
	line-height: 1.5;
	position: relative;

	> input {
		font-size: 1em;
		padding-left: 0.5em;
	}

	.fa {
		@include icons1;
	}

	&:hover .fa {
		visibility: visible;
		@include icons2;

	 &:hover {
		 @include icons3;
	 }
	}

	&.delete {
		transform: scaleY(0);
		transition: transform 0.15s;
	} 

   &:before {
	 content: "";
	 position: absolute;
	 border-bottom: 1px solid #999;
	 width: 0%;
	 top: 0.75em;
   }

   &.checked > input {
	 color: #999;
	 transition: color 0.1s;
   }

   &.checked .fa-check-circle {
	  @include icons1;
   }

   &.checked:before {
	 width: 90%;
	 transition: width 0.3s ease-in 0.1s;
   }
}
 

