<div class="post {{'post-' + td.post.color}} {{td.post.checked ? 'post-checked' : ''}}"
     ng-style="td.post.position">

  <div class="post-colors">
    <div class="post-color selected post-{{td.post.color}}"></div>
    <choose-color ng-repeat="color in td.colors"
         color="{{color}}"
         post="td.post"
         class="post-color {{ (color !== td.post.color) ? 'post-' + color : 'empty'}}">
    </choose-color>
  </div>

  <div class="post-buttons">
    <i class="fa fa-check-circle" ng-click="td.checkPost(td.key)"></i>
    <i class="fa fa-times" ng-click="td.onRemove({key: td.key, taskId: td.post.taskId})"></i>
  </div>

  <input type="text" class="post-title" placeholder="Title"
         ng-model="td.post.title" ng-change="td.savePost(td.key)"/>
  <textarea cols="33" rows="3"
            class="post-description"
            ng-model="td.post.description"
            ng-change="td.savePost(td.key)"
            placeholder="description"></textarea>

  <subtasks task-list="td.taskList" task-id="td.post.taskId" ></subtasks>

</div>
