<div class="subtaskInput-container" ng-keydown="st.addSubtask($event)">
  <input class="subtaskInput" ng-model="st.newTask" placeholder="subtask"/>
  <button ng-click="st.addSubtask($event)">+</button>
</div>

<ul class="subtasks">
  <li ng-repeat="(key,subtask) in st.subtasks"
      class="subtask {{subtask.checked ? 'checked' : ''}}">
    <input type="text" ng-model="subtask.name" ng-change="st.saveSubtask(key)"/>
    <div class="subtask-btns">
      <ng-include class="ng-btn ng-btn--xs" src="'assets/icons/check-icon.svg'"
        ng-click="st.checkSubtask(key)"></ng-include>
      <ng-include class="ng-btn ng-btn--xs" src="'assets/icons/delete-icon.svg'" ng-click="st.removeSubtask(key)">
      </ng-include>
    </div>
  </li>
</ul>
