<div class="subtaskInput-container" ng-keydown="st.addSubtask($event)">
  <input class="subtaskInput" ng-model="st.newTask" placeholder="subtask"/>
  <button ng-click="st.addSubtask($event)">+</button>
</div>

<ul class="subtasks">
  <li ng-repeat="(key,subtask) in st.subtasks"
      class="subtask {{subtask.checked ? 'checked' : ''}}">
    <input type="text" ng-model="subtask.name" ng-change="st.saveSubtask(key)"/>
    <!-- maybe ng-change? -->
    <i class="fa fa-check-circle" ng-click="st.checkSubtask(key)"></i>
    <i class="fa fa-times" ng-click="st.removeSubtask(key)"></i>
  </li>
</ul>
