<main id="canvas" ng-controller="CanvasCtrl" ng-dblclick="addPost($event)"  ng-focus="updateFocus($event)">
<div ng-repeat="(key, post) in posts" id={{ post.id }} class="post" style="left: {{post.x}}px; top:{{post.y}}px; z-index:{{key}}" ng-mousemove="movePost($event)" ng-mousedown="startMove($event)" ng-mouseup="endMove($event, key)" ng-click="preventDrag()" ng-keydown="handleEnter($event, key)">
	
		  <input type="text" class="post-title" placeholder="Title" ng-model="post.title" />
		
		  <textarea name="" id="" cols="33" rows="3" class="post-description" placeholder="description">{{ post. description}}</textarea>
		
		  <div class="subtaskInput-container">
		    <input class="subtaskInput" type="text" placeholder="subtask" ng-blur="clearSubtaskInput($event)" />
		    <button ng-click="addSubtask($event, key)">+</button>
		  </div>
		
		  <ul class="subtasks" ng-repeat="subtask in post.subtasks">
		    <li class="subtask"><input type="checkbox" name="" id="" /><input type="text" name="" id="" ng-model="subtask" /></li>
		  </ul>
	</div>
</main>
