<main id="canvas" ng-controller="CanvasCtrl" ng-click="addPost($event)">
		<div ng-repeat="post in posts" id={{ post.id }} class="post" style="left: {{post.x}}px; top:{{post.y}}px" ng-mousemove="movePost($event)" ng-mousedown="startMove($event)" ng-mouseup="endMove()">
	
		  <input type="text" class="post-title" placeholder="Title" ng-model="post.title"/>
		
		  <textarea name="" id="" cols="33" rows="3" class="post-description" placeholder="description">{{ post. description}}</textarea>
		
		  <div class="subtask_input">
		    <input type="text" placeholder="subtask" />
		    <button>+</button>
		  </div>
		
		  <ul class="subtasks" ng-repeat="subtask in post.subtasks">
		    <li class="subtask"><input type="checkbox" name="" id="" /><input type="text" name="" id="" ng-model="subtask" /></li>
		  </ul>
	</div>
</main>
