<header class="menu-container">

  <!-- Top Menu -->
  <nav class="top-menu" role="navigation">
    <a class="app-name" href="/">TodoPostIt</a>
    <div class="search-posts">
      <input ng-model="query" />
    </div>
	<ul ng-controller="tdpFilterCtrl as ctrl"
		class="filter-posts" 
		ng-click="ctrl.toggleActive($event); ctrl.filterPosts($event)">
      <li class="active" ng-click="ctrl.filterAll()">All</li>
      <li ng-click="ctrl.filterActive()">Active</li>
      <li ng-click="ctrl.filterCompleted()">Completed</li>
      <li class="clear-posts" ng-click="ctrl.clearCompleted()">Clear Completed</li>
    </ul>
    <a ng-click="tdpMenu.toggleSideMenu()" class="side-menu-btn unselectable">Menu</a>
  </nav>

  <!-- Side Menu -->
  <nav class="side-menu" role="navigation" ng-hide="tdpMenu.sideMenuOn">
    <a href="/" class="app-name">TodoPostIt</a>

	<!-- on another day... -->

    <!--<ul class="user-actions">-->
      <!--<li><a href="javascript:void(0)">Sign Up</a></li>-->
      <!--<li><a href="javascript:void(0)">Log In</a></li>-->
      <!--<li><a href="javascript:void(0)">About</a></li>-->
    <!--</ul>-->

	<ul ng-controller="tdpFilterCtrl as ctrl"
		class="filter-options" 
		ng-click="ctrl.toggleActive($event); ctrl.filterPosts($event)">
      <li class="active" ng-click="ctrl.filterAll()">All</li>
      <li ng-click="ctrl.filterActive()">Active</li>
      <li ng-click="ctrl.filterCompleted()">Completed</li>
      <li class="clear-posts" ng-click="ctrl.clearCompleted()">Clear Completed</li>
    </ul>
    <div class="creator-info">
      <a class="github-icon" href="https://github.com/gc-client-side/todo-post-app">Source on GitHub</a>
      <p>Created By
        <br/>
        <a href="http://slevin.im/">Slevin</a> &
        <a href="https://github.com/joehandlebar">Sukhoon</a>
      </p>
    </div>
  </nav>
  <div class="background-overlay" ng-show="sideMenuOn" ng-click="toggleSideMenu()"></div>
</header>
